<!DOCTYPE html>
<html lang="<%= config.language %>" color-mode="light">

  <%- partial('_partial/header') %>

  <body>
    <div id="app">
      <%- partial('_partial/navigation') %>

      <div class="flex-container">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>

      <div style="position: fixed;right: 2.2rem;top: 2.2rem;font-weight: bold;font-size: 1.6rem;">
        <a href="https://oilbeater.com/en/">EN</a>
      </div>

      <div class="tools-bar">
        <%- partial('_partial/backtotop') %>

        <%- partial('_partial/search') %>

        <%- partial('_partial/colorscheme') %>

        <%- partial('_partial/shares') %>
      </div>
    </div>
  </body>
</html>
